* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  /* background: #f5f7fa; */
  /* padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 40px; */
  counter-reset: section;
}
.wrapper {
  background: #ffffff;
  display: flex;
  /* max-width: 1200px; */
  margin: 0 auto;
  /* box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.15); */
}
.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my-photo {
  width: 370px;
}
.about-me-container {
  padding-left: 99px;
  padding-right: 99px;
  padding-top: 65px;
  padding-bottom: 60px;
}
.contacts-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}
.contacts-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
}
.contacts-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  /* color: #535c68; */
  color: rgba(255, 255, 255, 0.829);
  text-decoration: none;
}
.contacts-link-type {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: white;
  margin-right: 10px;
}
.tech-skills-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.tech-skills-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #f0660a;
  margin-left: 15px;
}
.tech-skills-text {
  color: #e7e8ea;
}
.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.soft-skills-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.soft-skills-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #f0660a;
  margin-left: 15px;
}
.soft-skills-text {
  color: #e7e8ea;
}
.profession {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 23px;
}
.name {
  font-size: 45px;
  line-height: 89px;
  font-weight: 700;
  color: #000000;
}
.discription {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 24px;
}
.info-container {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}
.projects-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
}
.tech-name {
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}
.dots {
  color: #000000;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.projects-item {
  font-weight: 700;
  margin-left: 17px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.projects-item:before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  margin-left: -20px;
}
.projexts-container {
  margin-bottom: 40px;
}
.profession-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 15px;
}
.profession-company {
  color: #ff781d;
}
.profession-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
}
.profession-divider {
  color: #000000;
}
.profession-duties {
  margin-top: 15px;
  margin-bottom: 30px;
}
.profession-duties-item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
}
.education-university {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ff6b08;
  margin-top: 10px;
  margin-bottom: 15px;
}
.education-spec {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000000;
  margin-bottom: 15px;
}
.education-time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #000000;
}
.education-divider {
  color: #000000;
}

.extra-description {
  display: flex;
  justify-content: space-around;
}
